/*
 UTF-8 선택사항
 주석을 한글로 작성했을 때, 처음 작성한 editor가 아닌 다른 editor로 open하면 한글이 깨지는 경우가 발생하는데, 그 현상을 막는 효과가 있다.
  */
@charset "UTF-8";

* {
    /* box를 그릴 때 margin, padding에 의해 layout이 무너지는 현상을 최소화시키기 위한 조치 */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    height: 400px;
    color: #efedde;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #544b4b;
}

header h1 {
    color: #c8de4b;
    /* left, bottom, right, top
    text-shadow: -1px 0 #c8de4b, 0 1px #c8de4b, 1px 0 #c8de4b, 0 -1px #c8de4b;
     */
}

nav#main-nav {
    /*
     nav#main-nav tag에 position:relative를 적용시키기 위해서 미리 header에 position을 지정해준다.
     */
    position: relative;
    background-color: #c8de4b;
    color: #544b4b;
    width: 100%;
}

#main-nav ul {
    list-style: none;
    display: flex;
}

#main-nav ul li {
    display: inline-block;
    padding: 12px 6px;
    margin: 0 12px;
    cursor: pointer;
}

#main-nav ul li:first-child {
    font-size: 16px;
    font-weight: 900;
}

#main-nav ul li:nth-child(4),
#main-nav ul li:nth-child(5) {
    margin-left: auto;
}

#main-nav ul li:hover {
    background-color: rgba(239, 237, 222, 0.5);
}

/* button이 가지고 있는 고유한 모양을 모두 제거하고 button의 성질만 남김 */
#main-nav button {
    background: transparent;
    color: inherit;
    border: 0;
    outline: none;
    font-size: inherit;
    cursor: pointer;
}

section#main-section {
    height: 1000px;
}

footer {
    background-color: #c8de4b;
    color: #544b4b;
    text-align: center;
    padding: 10px 0;
}